

// 选择我的优选咖啡页面
.nps-seek {
    height: 611px;
    background-color: #fff;
    color: #fff;
    background: url(../img/bg03.jpg) no-repeat center center;
    background-position: top;
    background-size: 1920px auto;
    transition: all .8s ease-in-out .2s;
    padding: 0 40px;
}
// 选择我的优选咖啡页面第一页
.nps-first {
    .nps-title {
        height: 100px;
        line-height: 100px;
        color: #fff;
        .nps-title-right {
            display: inline-block;
            span {
                font-size: 16px;
                letter-spacing: 4px;
                display: inline-block;
            }
            a {
                font-size: 14px;
                // float: right;
                margin-left: 40px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: -3px;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1px;
                    background: #fff;
                    transition: all .2s ease-in-out;
                }
                &:hover::after {
                    width: 100%;
                }
            }
            .nps-title-lists {
                &:after {
                    width: 100%;
                }
            }
        } 
    }
    .nps-middle {
        margin-top: 70px;
        color: #fff;
        text-align: center;
        .nps-middle-title {
            font-size: 48px;
        }
        .nps-middle-list {
            margin: 36px 0;
            font-size: 18px;
        }
        .nps-middle-btn {
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            width: 160px;
            height: 50px;
            font-size: 14px;
            text-align: center;
            line-height: 48px;
            border: 1px solid #986f38;
            background: #986f38;
        }

        
    }
}
// 选择我的优选咖啡页面第一页过渡
.slide-leave-active {
    transition: all .8s;
}
.slide-leave-to {
    opacity: 0;
    transform: translateY(-30%);
}
.span-leave-active {
    transition: all .8s;
}
.span-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}
.aa-leave-active {
    transition: all .8s;
}
.aa-leave-to {
    opacity: 0;
    transform: translateX(50px);
}

// 选择我的优选咖啡页面第二页
.nps-second {
    padding-top: 100px;
    .nps-second-title {
        margin-bottom: 60px;
        font-size: 30px;
        letter-spacing: 3px;
        text-align: center;
    }
    .nps-second-middle {
        margin: 0 50px;
        height: 362px;
        .nps-middle-lista {
            height: 100%;
            width: 33.3%;
            padding: 0 14px;
            position: relative;
            .nps-lista-sp {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 21px;
            }
            &:hover .nps-lista-img{
                transform: scale(1.1);
            }
            &:hover .nps-lista-lists {
                background: #fff;
                color: #000;
            }
            .nps-lista-box {
                width: 100%;
                overflow: hidden;
                .nps-lista-img {
                    // background-image: url(../img/qiaokeli01.png);
                    width: 100%;
                    height: 300px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 10;
                        top: -5px;
                        bottom: -5px;
                        left: -5px;
                        right: -5px;
                        opacity: .8;
                        transition: opacity .4s ease-in-out;
                        background-color: transparent;
                        background-image: linear-gradient(90deg,#000,transparent);
                    }
                }
            }
            .nps-lista-lists {
                padding: 10px 25px;
                text-align: center;
                font-size: 14px;
                color: hsla(0,0%,100%,.8);
                background: #3c3635;
                cursor: pointer;
            }
        }
    }
}




// 咖啡胶囊主页样式
.nps-cpl-home {
    padding: 0 60px;
    background: #fff;
    .nps-home-left {
        width: 230px;
        margin-top: 45px;
        .nps-left-a {
            width: 230px;
            height: 220px;
            margin-bottom: 20px;
            img {
                max-width: 230px;
            }
        }
        .nps-left-b {
            width: 230px;
            height: 256px;
            border-top: 1px solid #dfdfdf;
            margin-bottom: 50px;
            padding-top: 20px;
            a {
                display: block;
                text-align: center;
                margin-bottom: 50px;
            }
            img {
                max-width: 100px;
            }
            .nps-b-title {
                font-size: 12px;
                padding-bottom: 10px;
            }
            .nps-b-lists {
                color: #986f38;
                font-size: 12px;
                a {
                    font-size: 24px;
                    width: 40px;
                    height: 40px;
                    padding-right: 0;
                    position: relative;
                    left: 183px;
                    top: -9px;
                    background: #3d8705;
                    border: 1px solid #3d8705;
                    line-height: 38px;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
    }
    .nps-home-right {
        padding: 10px 20px;
        width: 800px;
        .nps-right-title {
            margin: 20px 0;
            position: relative;
            .nps-title-x {
                position: absolute;
                right: 90px;
                top: 13px;
                font-size: 12px;
                cursor: pointer;
            }
            a {
                font-size: 30px;
                letter-spacing: 10px;
                font-weight: bold;
                cursor: initial;
                display: block;
                float: left;
            }
            .nps-el-pop {
                display: block;
                float: right;
                button {
                    border: 1px solid #000;
                }
            }
        }
        .nps-right-list {
            .nps-list-title {
                font-size: 18px;
                font-weight: bold;
                margin: 8px 0;
            }  
        }
    }
}


// 咖啡胶囊列表样式
.nps-list-lists {
    position: relative;
    height: 112px;
    padding: 2px 0;
    border-top: 1px solid #eee;
    cursor: pointer;
    &:hover {
        background: #f9f9f9;
    }
    .nps-lits-conta {
        position: relative;
        height: 112px;
        padding: 10px 0;
        border-top: 1px solid #eee;
        .nps-cont-a {
            img {
                max-width: 65px;
            }
        }
        .nps-icon-t {
            position: absolute;
            width: 70px;
            height: 20px;
            color: #fff;
            background: rgb(43, 171, 231);
            font-weight: bold;
            font-size: 13px;
            text-align: center;
            line-height: 20px;
            top: 0;
            &:after {
                position: absolute;
                top: 20px;
                left: 6px;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 0;
                border-color: rgb(43, 171, 231) transparent transparent transparent;
                transform: rotate(90deg);
            }
        }
    }
    .nps-list-contb {
        font-size: 12px;
        margin-left: 30px;
        width: 120px;
        p {
            color: #656565;
        }
        .nps-contb-p {
            font-weight: bold;
            color: #000;
        }
        .nps-contb-list {
            padding-top: 8px;
            .into-a {
                display: inline-block;
                width: 7px;
                height: 7px;
                background-color: #656565;
                color: #000;
                border: 1px solid #656565;
            }
            .into-b {
                display: inline-block;
                width: 7px;
                height: 7px;
                background-color: #fff;
                color: #000;
                border: 1px solid #656565;
            }
        }
        p {
            height: 40px;
            padding-top: 7px;
            overflow: hidden;
        }
        
    }
    .nps-list-contc {
        padding-top: 41px;
        img {
            width: 38px;
        }
    }
    .nps-list-contd {
        position: absolute;
        right: 0;
        top: 37px;
        .nps-contd-sp {
            color: #3d8705;
            padding-right: 25px;
        }
    }
}

// 添加购物车样式
.nps-contd-a {
    background: #3d8705;
    border: 1px solid #3d8705;
    color: #fff;
    width: 250px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    line-height: 40px;
    &:not(:disabled) {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    }
    &:hover:not(:disabled) {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
    }
    &:active:not(:disabled) {
        border: 1px solid #326e04;
        background-color: #326e04;
    }
    .nps-a-sp {
        font-size: 30px;
        padding-top: 3px;
    }
    a {
        font-size: 14px;
        padding: 0 47px;
        position: relative;
        top: -4px;
    }
    .nps-contd-spb {
        font-size: 26px;
    }
}

// 咖啡胶囊详情页
.nps-cpslts {
    .nps-cpslts-table {
        background: #fff;
        height: 608px;
        padding: 0 60px;
        .nps-table-left {
            overflow: hidden;
            position: relative;
            height: 608px;
            img {
                position: absolute;
                top: 0;
                right: 215px;
                height: 608px;
            }
            a {
                position: absolute;
                z-index: 1;
                top: 20px;
                letter-spacing: 1.5px;
                left: 34px;
                color: #986f38;
                font-size: 14px;
            }
        }
        .nps-table-right {
            width: 400px;
            position: relative;
            height: 608px;
            left: 674px;
            top: -608px;
            padding: 50px 0 50px 60px;
            .nps-tab-spa {
                background-color: rgb(43, 171, 231);
                display: inline-block;
                height: 20px;
                padding: 0 5px;
                line-height: 20px;
                color: #fff;
                border-radius: 3px;
                font-size: 12px;
            }
            .nps-tab-spb {
                color: #757575;
                font-size: 14px;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }
            .nps-tab-spc {
                font-size: 30px;
                letter-spacing: 2px;
                color: #000;
                font-weight: bold;
            }
            .nps-tab-spd {
                color: #3d8705;
                font-size: 18px;
                margin: 40px 0 20px;
            }
        }
    }
    .nps-middle {
        color: #fff;
        background: #000;
        .nps-middle-title {
            padding: 0 100px;
            height: 77px;
            margin-bottom: 20px;
            font-size: 12px;
            .nps-title-cont {
                margin: 12px;
                text-align: center;
                .nps-middle-icon {
                    font-size: 28px;
                }
                p {
                    overflow: hidden;
                }
            }
        }
        .nps-middle-list {
            padding: 30px 100px 20px;
            .nps-list-cont {
                font-size: 16px;
                margin-bottom: 22px;
                font-weight: 700;
            }
            .nps-list-contb {
                font-size: 13px;
            }
            .nps-list-contc {
                margin: 40px 0 20px;
                font-size: 12px;
            }
        }
    }
    .nps-reomd {
        background: #1b1b1b;
        color: #fff;
        padding: 20px 100px;
        .nps-reomd-title {
            margin-bottom: 10px;
        }
        .nps-reomd-list {
            overflow: hidden;
            .nps-reomd-lists {
                width: 160px;
                margin-top: 45px;
                text-align: center;
                cursor: pointer;
                img {
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    transition: all .25s ease-out;
                    &:hover {
                        width: 70px;
                        height: 70px;
                    }
                }
                span {
                    font-size: 12px;
                    display: block;
                    margin: 0 25px;
                    letter-spacing: 3px;
                }
            }
        }
    }
}


// 咖啡配方样式
.nps-formlua {
    .nps-img-box {
        height: 344px;
        background: url('../img/bg02.png') no-repeat center center;
        background-size: cover;
        border-top: 1px solid #dfdfdf;
        .nps-img-list {
            widows: 100%;
            text-align: center;
            font-size: 25px;
            padding-top: 100px;
            span {
                color: #000;
            }
            a {
                color: #CD9B44;
                cursor: initial;
            }
        }
    }
    .nps-middle {
        background: #fbfdff;
        padding: 110px 70px 140px;
        .nps-middle-title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 67px;
            span {
                color: #000;
            }
            a {
                color: #CD9B44;
                font-style: italic;
                cursor: initial;
            }
        }
        .nps-middle-more {
            text-align: center;
            padding: 40px 0 16px;
            a {
                border: 1px solid #181D27;
                width: 180px;
                height: 40px;
                display: inline-block;
                line-height: 38px;
                font-style: italic;
                font-size: 12px;
                color: #000;
                text-align: center;
                opacity: .7;
                i {
                    line-height: 38px;
                    font-size: 20px;
                }
            }
        }
    }
}

// 咖啡配方详情页样式
.nps-detai {
    width: 1200px;
    .nps-cont {
        overflow: hidden;
        position: relative;
        // height: 440px;
        .nps-img {
            max-width: 1200px;
            margin-top: -30%;
        }
        .nps-cont-lists {
            position: absolute;
            top: 20px;
            right: 60px;
            img {
                width: 28px;
                cursor: pointer;
            }
            .nps-lists-icon {
                cursor: pointer;
                font-size: 28px;
                color: #fff;
            }
            .nps-lists-sp {
                background: #fff;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                display: inline-block;
                position: relative;
                top: -4px;
            }
        }
        .nps-cont-text {
            height: 230px;
            background: #f6f6f6;
            margin-top: -4px;
            .nps-text-list {
                width: 850px;
                padding: 30px;
                background: #fff;
                margin-left: 60px;
                height: 100%;
                position: relative;
                top: -130px;
                .nps-list-tatle {
                    height: 85%;
                }
                .nps-list-lists {
                    .nps-el-icon {
                        font-size: 23px;
                        color: #CD9B44;
                        padding-right: 13px;
                    }
                }
            }
            .nps-text-right {
                width: 200px;
                height: 100%;
                background: #fff;
                margin-left: 18px;
                text-align: center;
                position: relative;
                top: -130px;
                .nps-tight-title {
                    width: 96px;
                    height: 96px;
                    border-radius: 50%;
                    border: 0.5rem solid white;
                    box-shadow: 0 0 1px 1px #CD9B44;
                    overflow: hidden;
                    display: inline-block;
                    img {
                        max-width: 96px;
                        position: relative;
                        left: -2px;
                        top: -9px;
                    }
                }
                p {
                    line-height: 30px;
                    font-size: 19px;
                }
                .nps-right-p {
                    padding-top: 20px;
                    color: #CD9B44;
                    font-family: cursive;
                }
                .nps-right-p-c {
                    font-size: 12px;
                }
            }
        }
    }
    .nps-needed {
        padding: 60px 90px;
        background: #f6f6f6;
        .nps-needed-title {
            text-align: center;
            padding: 0 64px 64px;
            font-size: 25px;
        }
        .nps-needed-list {
            height: 300px;
            .nps-list-left {
                width: 750px;
                background: #fff;
                height: 100%;
                .nps-left-table {
                    height: 86px;
                    .nps-table-a {
                        padding: 32px 48px;
                        width: 60%;
                    }
                    .nps-table-b {
                        background: #CD9B44;
                        height: 100%;
                        width: 40%;
                        text-align: center;
                        line-height: 86px;
                        color: #fff;
                        a {
                            display: inline-block;
                            border: 1px solid #fff;
                            text-align: center;
                            width: 36px;
                            height: 36px;
                            line-height: 34px;
                            border-radius: 50%;
                        }
                        span {
                            display: inline-block;
                            width: 100px;
                            font-size: 19px;
                        }
                    }
                }
                .nps-left-list {
                    width: 125px;
                    text-align: -webkit-center;
                    margin-top: 60px;
                    margin-left: 55px;
                    .nps-list {
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            max-width: 52px;
                        }
                    }
                    p {
                        color: #B0B0B0;
                    }
                }
            }
            .nps-list-right {
                width: 230px;
                height: 100%;
                background: #fff;
                margin-left: 40px;
                .nps-list-right-a {
                    text-align: center;
                }
            }
        }
    }
    .nps-step {
        padding: 64px 70px;
        background: #fff;
        .nps-step-title {
            text-align: center;
            font-size: 25px;
            padding-bottom: 60px; 
        }
        .nps-step-list {
            padding: 0px 200px;
            .nps-list-table {
                width: 90px;
                span {
                    font-size: 16px;
                }
                p {
                    font-size: 40px;
                }
            }
            .nps-list-cont {
                font-size: 14px;
            }
            .nps-one {
                margin-bottom: 90px;
            }
            .toop {
                background: #CD9B44;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: relative;
                bottom: -56px;
            }
            .toop-in {
                height: 40px;
                width: 2px;
                border-left: 1px solid #CD9B44;
                position: relative;
                top: 115px;
                left: 94px;
            }
            .nps-list-cont {
                padding-top: 50px;
                padding-left: 120px;
            }
        }
    }
    .nps-recmd {
        padding: 60px 64px;
        background: #fff;
        .nps-recmd-title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 60px;
        }
        .nps-recmd-type {
            text-align: center;
            .nps-recmd-icon {
                font-size: 35px;
                color: #c0c4cc;
                padding-right: 15px;
            }
            span {
                color: #CD9B44;
            }
        }
        .nps-recmd-list {
            width: 226px;
            height: 140px;
            background-color: rgba(0, 0, 0, 0.04);
            margin: 75px 420px 0;
            .nps-list-cont {
                position: relative;
                text-align: center;
                img {
                    position: absolute;
                    top: -28px;
                    left: 82px;
                }
                .nps-cont-sp {
                    padding-top: 48px;
                    font-size: 14px;
                    color: #CD9B44;
                    display: inline-block;
                }
                .nps-cont-list {
                    font-size: 12px;
                    padding-top: 40px;
                    .nps-list-on {
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background: rgba(0, 0, 0, 0.2);
                    }
                    .sp-on {
                        background: #000;
                    }
                }
            }
        }
        .nps-recmd-a {
            width: 130px;
            height: 30px;
            display: block;
            border: 1px solid #104800;
            background: #357e00;
            color: white;
            line-height: 28px;
            font-size: 12px;
            border-radius: 4px;
            margin: 20px 470px;
            .nps-a-sp {
                width: 36px;
                height: 100%;
                text-align: center;
                display: inline-block;
                border-right: 1px solid rgba(0, 0, 0, 0.4);
            }
            .nps-a-spt {
                padding: 0 14px;
                font-family: serif;
            }
            &:hover {
                background: #104800;
            }
        }
        .nps-cecmd-ab {
            display: block;
            border: 1px solid #181D27;
            padding: 14px 55px;
            font-size: 12px;
            color: currentColor;
            width: 208px;
            height: 46px;
            margin: 74px 434px 0;
        }
    }
    .nps-perhaps {
        padding: 60px 64px;
        background: #f6f6f6;
        .nps-perhaps-title {
            text-align: center;
            font-size: 25px;
            padding-bottom: 64px;
        }
        .nps-perhaps-list {
            height: 338px;
        }
    }
}

// 下面是有公共需要的样式！下面是有公共需要的样式！下面是有公共需要的样式！

// 咖啡配方详情页与配方共有头部搜索
.nps-detai-top {
    height: 78px;
    .nps-top-icon {
        float: left;
        width: 78px;
        height: 78px;
        text-align: center;
        line-height: 78px;
        color: #CD9B44;
        font-size: 27px;
        background: #fff;
    }
    .nps-top-inpt {
        float: left;
        width: 850px;
        input {
            height: 78px;
            border-radius: 0;
            line-height: 78px;
            border-top: none;
            border-bottom: none;
            border-right: none;
        }
    }
    .nps-top-iconb {
        float: left;
        width: 78px;
        height: 78px;
        text-align: center;
        line-height: 78px;
        color: #dfdfdf;
        font-size: 27px;
        cursor: pointer;
        background: #fff;
    }
    .nps-top-a {
        display: block;
        float: left;
        width: 194px;
        height: 78px;
        text-align: center;
        line-height: 78px;
        background: #CD9B44;
        color: #fff;
    }
}

// 配方列表样式
.nps-formulelist {
    .nps-cont-lists {
        width: 250px;
        background: #fff;
        box-shadow: 0 0 1.5em 0 #c0c4cc;
        margin: 0 7px 10px;
        cursor: pointer;
        color: #050608;
        .nps-list-img {
            img {
                max-width: 250px;
            }
        }
        .nps-list-title {
            padding: 20px 20px 10px;
            font-size: 16px;
            font-style: italic;
        }
        .nps-list-lists {
            padding: 10px 20px 10px;
            font-size: 14px;
            font-style: italic;
        }
        .nps-list-cont {
            padding: 10px 20px 20px;;
            font-size: 15px;
            span {
                font-size: 25px;
                color: #CD9B44;
            }
            a {
                font-style: italic;
                padding-right: 15px;
            }
        }
    }
}

// pop弹出框样式修改
.el-popover {
    border: 1px solid #000;
    &.el-popper {
        .nps-el-pop-cont {
            span {
                font-weight: bold;
                padding: 10px 0;
                display: block;
            }
            ul {
                li {
                    float: left;
                    padding: 0 5px;
                }
                .nps-pop-a {
                    width: 42px;
                    height: 40px;
                    display: inline-block;
                    border: 1px solid #eee;
                    line-height: 38px;
                    text-align: center;
                    border-radius: 4px;
                    background: #eee;
                    color: #858585;
                    opacity: .5;
                    cursor: initial;
                }
                .nps-pop-b {
                    width: 42px;
                    height: 40px;
                    display: inline-block;
                    border: 1px solid #eee;
                    line-height: 38px;
                    text-align: center;
                    border-radius: 4px;
                    color: #858585;
                    background: #fff;
                    &:hover {
                        border-color: #000;
                        color: #000;
                    }
                    &:active {
                        border: 1px solid #000;
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
        }
        .popper__arrow {
            border-bottom-color: #000;
        }
        .nps-cont-a {
            display: inline-block;
            width: 213px;
            height: 40;
            border: 1px solid #eee;
            border-radius: 3px;
            line-height: 38px;
            text-align: center;
            margin: 8px 7px;
            &:hover {
                border-color: #000;
                color: #000;
            }
            &:active {
                border: 1px solid #000;
                color: #fff;
                background-color: #000;
            }
        }
    }
}

// 配方、配方详情页底部
.nps-botm {
    background: #050608;
    color: #fff;
    padding: 40px 80px;
    span {
        font-size: 16px;
    }
    .nps-botm-lista {
        padding-left: 60px;
        li {
            font-size: 12px;
            list-style: none;
            float: left;
            padding: 0 10px;
            font-style: italic;
        }
    }
    .nps-botm-listb {
        padding-left: 450px;
        li {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: white;
            float: left;
            margin: 0 8px;
            opacity: .46;
            overflow: hidden;
            text-align: center;
            .nps-listb-imga {
                width: 28px;
            }
            .nps-listb-imgb {
                width: 20px;
                padding-top: 23%;
            }
            .nps-listb-imgc {
                width: 26px;
            }
        }
    }
}