body{
    background: #000;
}
.content{
    width: 1200px;
    margin:  0 auto;
}
.nps-customer{
    .nps-customer-img{
        position: fixed;
        z-index: -1;
        min-height: 100vh;
        width: 100%;
        scroll-behavior: smooth;
        overflow: hidden;
        top: 0;
        .nps-customer-transform{
            transform: translate3d(0px, 0px, 0px);
            left: 0;
            position: absolute;
            will-change: transform;
            right: 0;
            top: 0;
            width: 100%;
            overflow: hidden;
            height: 120%;
            opacity: 0.7;
            img{
                height: 100%;
                max-width: none;
                width: 100%;
                object-fit: cover;;
            }
        }
    }
    .nps-customer-title{
        text-align: center;
        padding: 50px 0 100px;
        h2{
            font-size: 48px;
            font-weight: 800px;
            letter-spacing: .25em;
        }
    }
    .nps-customer-content{
        padding: 0 0 100px;
        .customer-content-lists{
            padding: 0 20px;
            li{
                width: 50%;
                float: left;
                height: 479px;
            }
            .lists-oreder-list{
                width: 50%;
                float: left;
                height: 479px;
                position: relative;
                .lists-Order-module{
                    position: absolute;
                    background: #000;
                    opacity: 0.5;
                    width: 100%;
                    height: 479px;
                    top: 0;
                    color: #fff;
                }
                .nps-list-highest{
                    position: absolute;
                    top: 0;
                    z-index: 20;
                    .Order-pushed{
                        width: 580px;
                        height: 239px;
                        text-align: center;
                        padding-top: 50px;
                        a{
                            color: #8f7247;
                        }
                        a:hover{
                            border-bottom: 1px solid #8f7247; 
                        }
                    }
                    .Order-pushed-top{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .Order-pushed-bottom{
                        .iconfont{
                            font-size: 42px;
                        }
                    }
                }
            }
            .content-lists-Order.nps-list-cont{
                background: url('../img/xc-bg3.png') no-repeat;
                background-size: 100%;
                .Order-mongolia-list{
                    .iconfont{
                        font-size: 84px;
                        color: #fff;
                    }
                }
            }
            .font-84{
                font-size: 84px;
            }
            .content-lists-Order.nps-list-service{
                background: url('../img/xc-bg4.png') no-repeat;
                background-size: 100%;
            }
            .content-lists-Order.nps-list-recovery{
                background: url('../img/xc-bg-5.png') no-repeat;
                background-size: 100%;
            }
            .content-lists-Order.nps-list-Taste{
                background: url('../img/xc-bg6.png') no-repeat;
                background-size: 100%;
            }
            .content-lists-Order{
                background: url('../img/xc-bg1.png') no-repeat;
                background-size: 100%; 
                height: 479px;
                position: relative;
                .lists-Order-mongolia{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: 0.8;
                    .mongolia-list-btn{
                        position: absolute;
                        bottom: 50px;
                        left: 50%;
                        margin-left: -25px; 
                        .mongolia-list-button{
                            display: inline-block;
                            width: 36px;
                            height: 36px;
                            background: #8f7247;
                            border-radius: 50%;
                            color: #fff;
                            text-align: center;
                            line-height: 36px;
                            font-size: 20px;
                        }
                    }
                    .Order-mongolia-list{
                        position: absolute;
                        top: 50px;
						text-align: center;
                        img{
                            max-width: 100px;
                            max-height: 100px;
                        }
                        .mongolia-list-show{
                            text-align: center;
                        }
                    }
                }
                .mongolia-content-show.nps-Deliverys{
                    margin-top: 100px;
                    ul{
                        li:first-child{
                            margin-left: 103px !important;
                        }
                    }
                }
                .mongolia-content-show.nps-service{
                    margin-top: 65px;
                }
                .mongolia-content-show.nps-recovery{
                    margin-top: 65px;
                    .show-content-lists{
                        li{
                            margin-left: 190px;
                        }
                    }
                }
                .mongolia-content-show{
                    position: absolute;
                    top: 0;
					text-align: center;
                    .list-show-content{
                        width: 580px;
                        padding: 20px;
                        ul{
                            width: 100%;
                            .nps-call-content{
                                margin-left:  190px; 
                            }
                            li{
                                width: 29%;
                                height: 136px;
                                border: 1px solid #fff;
                                float: left;
                                margin: 11px;
                                border-radius: 5px;
                                text-align: center;
                                .iconfont {
                                    font-size: 42px;
                                    margin-top: 25px;
                                    padding: 5px;
                                    display: block;
                                }
                            }
                            li:hover{
                                background: #fff;
                                color: #000;
                            }
                        }
                    }   
                }
            }
        }
    }
}
.Promptshow.Delivery{
    .Small-list{
        margin-top: 73px;
        margin-left: 68px;
    }
    .Small-navigation{
        background: url('../img/xc-bg3.png') no-repeat !important;
        background-size: 100% !important;
    }
}
.Promptshow.Taste{
    .Small-list{
        margin-top: 73px;
        margin-left: 68px;
    }
    .Small-navigation{
        background: url('../img/xc-bg6.png') no-repeat !important;
        background-size: 100% !important;
    }
}
.Promptshow.service{
    .Small-list{
        margin-top: 73px;
    }
    .Small-navigation{
        background: url('../img/xc-bg4.png') no-repeat !important;
        background-size: 100% !important;
    }
}
.Promptshow.recovery{
    .Small-list{
        margin-top: 73px;
        margin-left: 125px;
    }
    .Small-navigation{
        background: url('../img/xc-bg-5.png') no-repeat !important;
        background-size: 100% !important;
    }
}
.Promptshow{
    .show-module{
        position: fixed;
        background: #000;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        opacity: 0.7;
    }
}
.nps-Prompt-lists{
    .nps-lookup{
        ul{
            padding-left: 20px;
            li{
                width: 100% !important;
                height: 100% !important;
                float: none !important;
                line-height: 24px;
                list-style: initial;
                margin-bottom: 4px;
                letter-spacing: 3px;
            }
        }
    }
    position: fixed;
    width: 998px;
    height: 435px;
    z-index: 1000;
    background: #fff;
    left: 11%;
    top: 24%;
    text-align: center;
    .Prompt-lists-Close{
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -13%;
        color: #000;
        font-size: 36px;
        line-height: 50px;
    }
    .Prompt-lists-Close:hover{
        color: #fff;
        background: #e2e2e2;
    }
    .nps-Prompt-content{
        width: 100%;
        height: 100%;
        li{
            width: 50%;
            height: 100%;
            margin: 0;
            float: left;
        }
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #fff;
          }
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #ccc;
            height: 20px;
        }
        .Small-navigation-rigth{
            color: #000;
            background: #fff;
            padding: 48px 26px;
            text-align: left;
            overflow-y: scroll;
            .nps-Taste-content{
                margin-bottom: 70px; 
            }
            a{
                color: #8f7247;
            }
            a:hover{
                border-bottom: 1px solid #8f7247; 
            }
            .Mobile-phone-order{
                width: 100%;
                height: 390px;
            }
            .navigation-rigth-title{
                font-size: 18px;
                font-weight: 800;
                margin-bottom: 18px;
            }
            .navigation-rigth-buttom{
                padding: 12px 20px;
                background: #3d8705;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                border-radius: 5px;
                margin-top: 20px;
                margin-bottom: 40px;
                display: inline-block;
            }
            .navigation-rigth-buttom:hover{
                box-shadow: 0 0.25em 0.5em rgba(0,0,0,.3);
            }
        }
        .Small-navigation{
            background: url('../img/xc-bg1.png') no-repeat;
            background-size: 100%;
            position: relative;
            width: 50%;
            .mode-content{
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: absolute;
                top: 0;
            }
            .Small-list{
                z-index: 1000;
                position: absolute;
                top: 0;
            }
            .show-content-list{
                width: 100%;
                color: #fff;
                padding: 0 46px;
                padding-bottom: 0;
                .nps-list-content{
                    margin-left: 145px;
                }
                li{
                    border: 1px solid #fff;
                    border-radius: 5px;
                    width: 115px;
                    height: 115px;
                    margin: 10px;
                    padding: 20px;
                    font-size: 12px;
                    .iconfont {
                        font-size: 32px;
                    }
                    p{
                        margin: 10px 0;
                    }
                }
                li.active{
                    color: #000;
                    background: #fff;
                }
                li:hover{
                    color: #000;
                    background: #fff;
                }
            }
            .Small-navigation-module{
                position: absolute;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: relative;
                .navigation-module-list{
                    width: 430px;
                    height: 290px;
                    background: gold;
                }
            }
        }
    }
}


.show-enter{
    opacity: 0;
    margin-top: -20px;
}
.show-leave-to {
    opacity: 0;
    margin-top: -50px;
}
.show-enter-to{
    opacity: 1;
    margin-top: 0px; 
}
.show-leave {
    opacity: 1;
    margin-top: 0px; 
}
.show-leave-active, .show-enter-active{
    transition: all .2s;
}

.out-enter{
    opacity: 0;
    margin-bottom: -20px;
}
.out-leave-to {
    opacity: 0;
    margin-bottom: -50px;
}
.out-enter-to{
    opacity: 1;
    margin-bottom: 0px; 
}
.out-leave {
    opacity: 1;
    margin-bottom: 0px; 
}
.out-leave-active, .out-enter-active{
    transition: all .2s;
}

.nps-en-ligne{
    margin-top: 20px; 
    width: 100%;
    height: 700px;
    background: #fff;
    margin-bottom: 20px;
    .nps-en-right::-webkit-scrollbar { /*滚动条整体样式*/
        width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
    .nps-en-right::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
        border-radius: 5px;
        border: 5px solid #ccc;
    }
    .nps-en-right{
        padding: 34px;
        overflow-y: auto;
        .nps-On-line{
            height: 139px;
            .nps-right-btn{
                margin: 40px 0 40px;
                .nps-add-button{
                    font-size: 14px;
                    width: 100px;
                    height: 38px;
                    display: inline-block;
                }
            }
        }
        .en-righti-title{
            font-size: 17px;
            font-weight: 800;
            margin: 17px 0;
            font-size: 18px;
        }
        .nps-phone{
            margin-top: 40px; 
            height: 384px;
            width: 446px;
            p{
                margin-bottom: 15px; 
            }
            ul{
                padding-left: 20px; 
                li{
                    list-style: initial;
                    float: none;
                    height: 24px;
                    margin-bottom: 4px; 
                }
            }
        }
        .nps-shop-phone{
            margin-top: 40px;
            width: 446px;
            height: 386px;
            p{
                margin-bottom: 15px; 
            }
        }
        .nps-shop-call{
            margin-top: 40px;
            width: 446px;
            height: 233px;
            p{
                margin-bottom: 15px; 
            }
        }
    }
    ul{
        li{
            width: 50%;
            height: 700px;
            float: left;
        }
        .nps-en-left.active{
            background: url('../img/xc-bg4.png') no-repeat;
            background-size: 100% 100%;
        }
        .nps-en-left.delivery{
            background: url('../img/xc-bg4.png') no-repeat;
            background-size: 100% 100%;
        }
        .nps-en-left{
            background: url('../img/xc-bg1.png') no-repeat;
            background-size: 100% 100%;
            position: relative;
            .nps-en-modu{
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: absolute;
                top: 0;
            }
            .nps-en-list{
                width: 498px;
                height: 772px;
                position: absolute;
                top: 20px;
                right: 20px;
                text-align: center;
                color: #fff;
                .iconfont{
                    margin-top: 40px;
                    font-size: 80px; 
                }
                .nps-Enlist-content{
                    width: 100%;
                    height: 50px;
                    ul{
                        li{
                            width: 30%;
                            padding: 10px;
                            height: 149px;
                            border: 1px solid #fff;
                            border-radius: 5px;
                            text-align: center;
                            margin: 8px;
                            .nps-Enlist-list{
                                margin-top: 30px;
                                .iconfont{
                                    font-size: 40px;
                                    margin-top: 0px; 
                                } 
                            }
                        }
                        li:hover{
                            color: #000;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}
.recovery-link{
    color: #8f7247;
    font-weight: 600;
}
.recovery-link:hover{
    border-bottom: 1px solid #8f7247;
}

.text-weight{
    font-weight: 800;
}