@import '../../../css/public.less';
.banner-box .banner {
  float: left;
  display: block;
  width: 100%;
  min-height: 460px;
  position: relative;
}

.banner.one {
  background-image: url('../meberImg/hero-slice-coffee-ol_L.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner.two {
  background: url('../meberImg/hero-slice-sustainability_L.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner.three {
  background: url('../meberImg/hero-slice-machine-ol_L.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner.fove {
  background: url('../meberImg/hero-slice-accessories-ol_L.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner.five {
  background: url('../meberImg/hero-slice-services_L.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner.one, .banner.two, .banner.three, .banner.fove, .banner.five {
  cursor: pointer;  
  transition: all 0.6s;  
}
.banner.one:hover, .banner.two:hover, .banner.three:hover, .banner.fove:hover, .banner.five:hover {
  transform: scale(1.2);
}
.coffee-text-box {
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -224px;
}
.coffee-text-one {
    font-size: 16px;
    text-transform: uppercase;
}
.nespresso {
  margin-right: 20px;
}
.coffee-text-span {
  font-size: 18px;
}
.main-coffee-text {
  font-size: 46px;
  font-weight: 400;
}
.small-banner-box {
  overflow: hidden;
  width: 20%;
  height: 460px;
  display: block;
  float: left;
}
.son-small-banner-box {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.serch-more {
  color: #b07d3a;
}
[class^="el-icon-"], [class*=" el-icon-"] {
  font-size: 33px;
  color: #000;
}
.video {
  text-align: center;
  position: relative;
}
.video-bg {
  background: url(../meberImg/lyk-kafei-bg.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-icon {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
}
.kind-coffee {
  background: url('../meberImg/lyk-kind-coffee.jpg') no-repeat;
  background-size: cover;
  height: 750px;
  position: relative;
  text-align: center;
}
.introduce-coffee {
  position: absolute;
  bottom: 100px;
  color: #fff;
  left: 50%;
  margin-left: -511px;
}
.introduce-coffee-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.introduce-coffee-text {
  clear: both;
  content: '';
  display: block;
  li {
    float: left;
    width: 341px;
    padding: 0 14px;
    display: inline-block;
  }
}
.introduce-coffee-text-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 30px;
}
.coffee-text-detail {
  font-size: 10px;
  letter-spacing: 3px;
}
.Wheel-planting {
  background: url(../meberImg/lyk-rangeSlider.png);
  height: 616px;
  background-size: cover;
}
.Wheel-planting {
  text-align: center;
}
.Wheel-planting-content {
  padding-top: 100px;
  width: 996px;
  margin: 0 auto;
  color: rgba(0,0,0,.8);
}
.wheel-planting-title {
  font-size: 30px;
  display: block;
}
.introduce-wheel-planting {
  width: 100%;
}
.wheel-planting-title-detail {
  font-size: 14px;
  display: block;
  color: rgba(0,0,0,.8);
}
.wheel-planting-title-detail-box {
  margin-top: 30px;
}
.slide-box {
  width: 390px;
  margin: 0 auto;
}
.slide-box {
  margin-top: 30px;
}
.bg-fruts {
  background: url('../meberImg/lyk-bg-coffee-fruts.png') no-repeat;
  height: 900px;
  background-size: cover;
  padding-top: 600px;
  padding-bottom: 100px;
  color: #fff;
}
.main-content {
  width: 996px;
  margin: 0 auto;
}
.title-con {
  margin-bottom: 20px;
  font-weight: 400;
}
.title-con-description {
  font-size: 10px;
  letter-spacing: 3px;
}
.link-description {
  font-size: 10px;
  color: #b07d3a;
  margin: 20px auto;
}
.fruits-img-box img {
  margin: 10px 5px;
}
.bg-machine-box {
  background: url('../meberImg/lyk-bg-machine-big.png') no-repeat;
  height: 500px;
  background-size: cover;
}
.bg-mathine {
  background: url('../meberImg/lyk-bg-machine.png') no-repeat;
  background-size: 150%, auto;
  width: 37%;
  height: 100%;
  background-position: 100px;
  float: right;
}
.introduce {
  span {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 10px;
  }
  float: left;
  padding: 100px 100px 100px;
  letter-spacing: 5px;
  text-align: left;
}
.introduce-machine li span{
  color: #fff;
  font-size: 20px;
  margin: 15px 25px;
  display: block;
}
.introduce-machine li p {
  color: hsla(0,0%,100%,.8);
  font-size: 10px;
  text-align: left;
}
.bg-slide-mathine {
  background: url('../meberImg/lyk-rangeSlider.png') no-repeat;
  background-size: cover;
  height: 600px;
}
.mathine-slide-content {
  width: 996px;
  height: 100%;
  padding: 100px 0;
  margin: 0 auto;
}
.coffee-mate-text {
  font-size: 25px;
  color: #000;
  margin-bottom: 30px;
  display: block;
}
.mathine-introduce-text  {
  display: block;
  width: 100%;
  li {
    font-size: 10px;
    color: rgba(0,0,0,.8);
    letter-spacing: 3px;
    margin-bottom: 18px;
  }
}
.slide-content.mathine {
  margin: 60px auto;
  width: 400px;
}
.coffee-accessories-box {
  background: url('../meberImg/lyk-bg-coffee-cut.png') no-repeat;
  background-size: cover;
  height: 774px;
}
.coffee-accessories-content {
  width: 996px;
  margin: 0 auto;
}
.coffee-accessories-content {
  padding-top: 525px;
  text-align: center;
  span {
    font-size: 25px;
    color: #000;
    margin-bottom: 25px;
    display: block;
  }
}
.coffee-accessories-introduce {
  font-size: 14px;
  letter-spacing: 3px;
  color: rgba(0,0,0,.8);
  padding-bottom: 22px;
}
.coffee-accessories-link {
  font-size: 12px;
  color: #b07d3a;
  text-decoration: #b07d3a;
}
.coffee-home-box {
  background: url('../meberImg/lyk-bg-coffee-home.png') no-repeat;
  background-size: cover;
  height: 774px;
}
.coffee-home-content {
  padding-top: 525px;
  text-align: center;
  margin: 0 auto;
  width: 996px;
  span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    display: block;
    padding-bottom: 20px;
  }
  p {
    font-size: 14px;
    color: hsla(0,0%,100%,.8);
    letter-spacing: 2px;
  }
}
.coffee-women-box {
  background: url('../meberImg/lyk-bg-women.png') no-repeat;
  background-size: cover;
  height: 560px;
  clear: both;
  content: '';
  display: block;
  background-position: 30%;
}
.coffee-women-content {
  color: #fff;
  width: 996px;
  padding-top: 100px;
  margin: 0 auto;
  clear: both;
  content: '';
  display: block;
}
.problem-solving-box {
  width: 46%;
  margin-left: 50%;
}
.problem-solving-title {
  font-size: 28px;
  font-weight: 500;
  display: block;
  margin-bottom: 28px;
  padding-left: 14px;
}
.icon-btn-collapse {
  font-size: 16px;
  color: #b07d3a;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #b07d3a;
  display: inline-block;
  text-align: center;
  line-height: 22px;
}
.title-btn-collapse {
  font-size: 16px;
  color: #fff;
}
.collapse-detail {
  padding-left: 45px;
  font-size: 14px;
  color: hsla(0,0%,100%,.8);
  display: none;
}
.collapse-detail.active {
  display: block;
}
.collapse-title-abtn {
  margin: 15px;
  display: block;
}
.collapse-box {
  display: block;
  padding-bottom: 100px;
}
.coffee-order-content {
  width: 996px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.coffee-order-title {
  font-size: 26px;
  color: #000;
  display: block;
  margin-bottom: 30px;
}
.order-coffee-content-ul {
  clear: both;
  display: block;
  content: '';
}
.order-coffee-li {
  float: left;
  padding: 35px 7px;
  width: 33%;
  span {
    display: block;
  }
}
.order-top {
  font-size: 14px;
  color: #000;
}
.order-bottom {
  color: rgba(0,0,0,.8);
  font-size: 14px;
  margin-bottom: 18px;
}
.order-img {
  margin: 21px 0;
}
.order-buy-btn {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 700;
  width: 161px;
  height: 35px;
  border-radius: 3px;
  background: #418200;
  margin: 0 auto;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 1s;
  border: 1px solid rgba(0,0,0,.75);
  box-shadow: inset 1px 1px 0 1px hsla(0,0%,100%,.1);
}
.order-buy-btn:hover {
  background: #2c541c;
}
.order-coffee-li.border {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.tip {
  font-size: 10px;
  margin-top: 30px;
}
.coffee-help-content {
  margin: 0 auto;
  padding: 100px 0;
  font-size: 14px;
  color: #fff;
  width: 996px;
}
.meber-help-box {
  background: #000;
}
.coffee-help-lists {
  p {
    line-height: 25px;
  }
}
.coffee-help-lists:after{
  clear: both;
  content: '';
  display: block;
  
}
.coffee-help-list {
  float: left;
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 0 10px;

}
.coffee-help-introduce {
  display: block;
  margin-bottom: 20px;
}
.cofffee-introduce-img {
  width: 100px;
  height: 100px;
  line-height: 130px;
  margin: 0 auto;
  img {
    transition: all 1s;
  }
  img:hover {
    transform: scale(1.2);
  }
}
.slide-content.mathine {
  .el-carousel__item:nth-child(2n+1) {
    width: 200px;
    padding-left: 100px;

  }
  .el-carousel__item:nth-child(2n) {
    width: 200px;
    padding-left: 102px;
  }
  .choose-type-box {
    margin-left: 50px;
  } 
} 






