.nps-guide{
	background: #1a1a1a;
	padding: 22px;
	color: #fff;
	font-size: 14px;
}
.nps-guide-back{
	background: url(../../../assets/wei2.png);
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 50%;
	width: 42px;
	height: 42px;
}
.nps-guide-back-linheight{
	line-height: 40px;
	cursor: pointer;
}