.nps-black-details{
	background: url(../../../assets/details1.png);
	background-size: 1280px auto;
	background-position: top;
	background-repeat: no-repeat;
}
.nps-hepdetails-banner{
	padding: 14px 0;
	font-size: 14px;
	color: #fff;
	height: 223px;
	width: 100%;
	position: relative;
}
.nps-hepdetails-banner a{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 111px;
	color: #fff;
}
.nps-hover:hover{
	color: #986f38;
}
.nps-hepdetails-flet{
	padding: 0 14px;
	font-size: 14px;
	width: 308px;
}
.nps-details-img img{
	width: 280px;
	height: 280px;
}
.nps-text-img{
	width: 280px;
	height: 90px;
	border: 1px solid #fff;
	background: url(../../../assets/details2.png);
	height: 6.5em;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.nps-margin-bottom{
	margin-bottom:27px;
}
.nps-details-shouce{
	margin-top: 20px;
	width: 280px;
	padding: 21px;
	background: #1a1a1a;
}
.nps-details-right{
	padding: 0 14px;
	color: #000;
	font-size: 14px;
	width: 892px;
}
//element teb 样式的改变
.el-tabs__content{
	background: #FFFFFF;
}
.el-tabs__active-bar{
	background-color: #986d38;
	width:100px;
}
//bottom转化为黑色
.el-tabs__nav-wrap::after{
	background-color: #000000;
}
.el-tabs__nav{
	width: 100%;
	text-align: center;
}
.el-tabs__item{
	width: 33.33%;
	padding: 21px 11px;
	font-size: 14px;
	height: 65px;
	color: #FFFFFF;
	line-height: 25px;
}
.el-tabs__item.is-active{
	color: #FFFFFF;
}
.el-tabs__item:hover{
	color: #FFFFFF;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav{
	border: none;
}
.el-tabs--card > .el-tabs__header{
	border: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__item{
	border-left: none;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #986f38;
}
.el-tab-pane{
	background: #ededed;
}
//切换内容
.nps-back-deta{
	background: url(../../../assets/wei1.png);
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: .75em;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.nps-width{
	width: 47%;
	margin-right: 20px;
	padding: 0 0 21px 0;
}
.nps-li{
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 10px;
}
.nps-width-derails{
	width: 300px;
}
.nps-hen{
	position: absolute;
	border-bottom: 1px solid #ccc;
	width: 42%;
	bottom: 0;
	margin-bottom: 20px;
}
.nps-position{
	position: relative;
}
.nps-details-hover a{
	position: absolute;
	color: #000;
}
.nps-details-hover a:hover{
	display: inline-block;
	text-decoration: underline;
	color: #986f38;
}
.nps-beijian{
	margin-bottom: 60px;
	font-size: 16px;
}
.op{
	background: #0000FF;
	height: 100px;
}
.position-r{
	position: relative;
}
.position-a{
	position: absolute;
	top: 50%;
	margin-top: -20px;
}
